<h2>Welcome | <a href="/logout/">Logout</a></h2>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" required>
    <input type="number" name="age" placeholder="Age" required>
    <button>Add</button>
</form>

<hr>

<table border="1">
<tr><th>Name</th><th>Age</th><th>Action</th></tr>

{% for s in students %}
<tr>
<td>{{ s.name }}</td>
<td>{{ s.age }}</td>
<td>
<a href="/update/{{ s.id }}">Edit</a>
<a href="/delete/{{ s.id }}">Delete</a>
</td>
</tr>
{% endfor %}
</table>